  body{
    background-color: lemonchiffon;
  }
  hr{
    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;

  }
  h1, h2, h3{
    color: #865439;
  }
  img{
    border-radius: 50px;
    border-color: red;
  }
